
.cadre{
    width: 1000px;
    justify-content: start;
}

h2{margin: 10px}

.listLeaderboard {
    width: 1000px;
    height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.leaderboardFriend{
    display: flex;
    flex-direction: row;
    background-color: #D9D9D9;
    width: 950px;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.leftSide{
    display: flex;
    flex-direction: row;
}

.rightSide{
    display: flex;
    flex-direction: row;
}

p{
    color: black;
    font-size: 25px;
}

.profilePic{
    border-radius: 50%;
    max-height: 100px;
    margin: 0 20px;
}

.levelPic{
    max-height: 100px;
    margin-left: 20px;
}


@media screen and (max-width: 600px) {
    .cadre{
        width: 90%;
        justify-content: start;
        align-self:start;
        margin-top: 30px;
        height: 80%;
    }

    h2 {
        margin:0;
    }

    .listLeaderboard {
        width: 100%;
        height: 100%;
    }

    .leaderboardFriend{
        width: 100%;
        padding: 5px;
        margin-left:5px;
        margin-right: 5px;
    }

    p{
        font-size: 10px;
        margin: 0;
        align-self: center;
    }

    .profilePic{
        border-radius: 50%;
        max-height: 50px;
        margin: 8px;
    }

    .levelPic{
        max-height: 50px;
        margin-left: 10px;
        margin-right: 5px;
        align-self: center;
    }
}
