
button{
    margin: 15px;
}


h2{
    margin-top: 30px;
    margin-bottom: 30px;
}



@media screen and (max-width: 600px){
    h2{
        margin:0;
    }

    .cadre{
        align-self:start;
        margin-top: 30px;
        width: 90%;
        justify-content: unset;
    }
}


@media screen and (max-width: 1100px) and (min-width: 599px){
    h2{
        margin:0;
    }

    .cadre{
        align-self:start;
        margin-top: 30px;
        width: 90%;
        justify-content: unset;
        height: unset;
    }
}
