body{
    color: #fff;
    font-family: 'Kumar One', serif;
    font-size: 35px;
    background-color: #345128;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-position: center;
    padding:30px;
    width: 100%;
    box-sizing: border-box;
}


.logo{
    max-height: 18%;
    object-fit: contain;
    background-color: #345128;
    position: absolute;
    left: 1.15%;
}

h1{
    color: #000;
    margin: 0 auto 0 auto;
}


.cadre{
    margin-top: 30px;
    background-color: #22341A;
    border: #497637 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    text-align: center;
    width: 390px;
}

.theButton{
    background-color: #D9D9D9;
    border-radius: 8px;
    margin: 12px;
    min-width: 90%;
}

button{
    color: #000;
    font-family: 'Kumar One', serif;
    font-size: 22px;
    text-decoration: none;
    background-color: #D9D9D9;
    border: 0;
    border-radius: 8px;
}


#backButton{
    max-height: fit-content;
    min-width: fit-content;
    justify-self: end;
    align-self: start;
    margin-top: 30px;
    border-radius: 8px;
}

.grid{
    display: grid;
    grid-template-columns: 10fr 15fr 10fr;
    align-items: center;
}


.user{
    display: flex;
    flex-direction: row;
    background-color: rgba(253, 253, 253, 0.6);
    color: black;
    font-size: 30px;
    align-items: center;
    position: absolute;
    right: 1.20%;
}

.nameAndLogout{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username{
    margin: 0;
}

.logout{
    background-color: #345128;
    color: #fff;
    border-radius: 20px;
    padding: 5px;
    font-family: 'Kumar One', serif;
    font-size: 20px;
    margin: 15px;
    border: 1px solid #345128;
}

.profilePicture{
    border-radius: 50%;
    max-height: 70px;
    margin-left: 10px;
}

.level{
    max-height: 120px;
    margin: 10px;
}

.tank {
    width: 150px;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 10%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.body {
    width: 100px;
    height: 60px;
    background-color: #22341A;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.turret {
    width: 60px;
    height: 20px;
    background-color: #22341A;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
    z-index: 2;
}

.bullet {
    width: 5px;
    height: 5px;
    background-color: lightgreen;
    position: absolute;
}




.level-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;

}

.level-circle {
    border-radius: 50%;
    width: 70px; /* Diameter of the circle */
    height: 70px; /* Diameter of the circle */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 6px solid green; /* Border color of the level circle */
    margin-top: 10px;
}

.level-number {
    color: black; /* Text color for the level number */
    font-size: 1.5rem; /* Size of the level number */
    font-weight: bold;
}

.level-progress-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.level-range, .level-points {
    font-size: 0.8rem;
    color: black; /* Text color for the level range and points */
}

.progress-bar {
    width: 100px; /* Width of the progress bar */
    height: 20px; /* Height of the progress bar */
    background-color: #555; /* Background color of the progress bar */
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 5px;
}

.progress-bar-fill {
    height: 100%;
    background-color: green; /* Fill color of the progress bar */
    border-radius: 10px;
}


@keyframes bell-shake {
    0%, 100% { transform: translateX(0) scale(1); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px) scale(1.1); }
    20%, 40%, 60%, 80% { transform: translateX(10px) scale(1.1); }
}

.notification-bell.shake {
    animation: bell-shake 2s infinite;
}

/* Styles supplémentaires pour l'icône de notification */
.notification-bell {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    /* Ajoutez ici d'autres styles si nécessaire */
}
