.cadre{
    width: 1000px;
    justify-content: start;
    position: relative;
}

h2{margin: 10px}

.listGameRequest {
    width: 1000px;
    height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.gameRequest{
    display: flex;
    background-color: #D9D9D9;
    width: 950px;
    padding: 15px;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-direction: row;
}

.leftSide{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.middleSide{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rightSide{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    color: black;
    font-size: 25px;
    margin: 0;
}

.profilePic{
    border-radius: 50%;
    max-height: 80px;
    margin: 0 20px;
}

.deleteGame{
    position: absolute;
    right: 110px;
    bottom: 10px;
}

.loadGame{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

button{
    min-width: auto;
    margin: 10px;
}
