button{
    margin: 10px;
}


h2{
    margin-bottom: 0;
    margin-top: 5px;
}



.level-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.level-circle {
    background-color: #444; /* Dark background for the level circle */
    border-radius: 50%;
    width: 120px; /* Diameter of the circle */
    height: 120px; /* Diameter of the circle */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 6px solid green; /* Border color of the level circle */
}

.level-number {
    color: black; /* Text color for the level number */
    font-size: 2.5rem; /* Size of the level number */
    font-weight: bold;
}

.level-progress-info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.level-range, .level-points {
    font-size: 1rem;
    color: black; /* Text color for the level range and points */
}

.progress-bar {
    width: 200px; /* Width of the progress bar */
    height: 20px; /* Height of the progress bar */
    background-color: #555; /* Background color of the progress bar */
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
}

.progress-bar-fill {
    height: 100%;
    background-color: green; /* Fill color of the progress bar */
    border-radius: 10px;
}
