button{
    margin: 10px;
}


h2{
    margin-bottom: 0;
    margin-top: 5px;
}



/* CHAT STYLES */

#chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
}

#chat-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

#friends-list {
    position: absolute;
    bottom: 50px;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    max-height: 400px;
    width: 250px;
    overflow-y: auto;
}

.hidden {
    display: none;
}

.friend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
}



.friend-name {
    margin: 0;
    color: black;
    font-size: 10rem;
}

.friend-actions {
    display: none; /* Hidden by default */
}

.friend:hover .friend-actions {
    display: block; /* Shown on hover */
}

.friend-actions button {
    padding: 5px 10px;
    margin-left: 5px;
    font-size: 0.8rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.friend-actions button.send-message {
    background-color: #3085d6;
    color: white;
}

.friend-actions button.play-with-me {
    background-color: #28a745;
    color: white;
}

/* Popup styles */
#message-popup {
    display: none; /* Hidden by default */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1010;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

#chat-with-friend-name, #chatting-with {
    font-size: 1.5rem;
    color: black;
}

/*CHAT INTERFACE */

#chat-interface {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

#chat-messages {
    height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 5px;
    background: #e9e9e9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#chat-input {
    width: calc(100% - 90px); /* Input width minus button and padding */
    padding: 5px;
}

#send-chat-message {
    width: 80px;
    padding: 5px 10px;
}

#back-to-friends-list {
    display: block;
    margin-bottom: 10px;
}