
.plate{
    display: grid;

    grid-template-columns: repeat(8,50px 5px) 50px;
    grid-template-rows: repeat(8,50px 5px) 50px;

    justify-content: center;
    align-items: center;
}

.playable_square{
    height: 50px;
    width: auto;
    background: black;
}

.horizontal_wall{
    height: 5px;
    background: red;
}

.vertical_wall{
    height: 50px;
    width: 5px;
    background: gold;
}

.intersection_wall{
    height: 5px;
}

.vertical_hitbox{
    margin: -5px;
    padding: 0px 5px 0px 5px;
    z-index: 1;
}
.horizontal_hitbox{
    width: auto;
    z-index: 1;
    padding: 5px 0px 5px 0px;
}

.vertical_hitbox:hover > div{
    background: green;
}

.horizontal_hitbox:hover > div{
    background: green;
}