
.plate{
    display: grid;

    grid-template-columns: repeat(8,50px 5px) 50px;
    grid-template-rows: repeat(8,50px 5px) 50px;

    justify-content: center;
    align-items: center;
}

.playable_square{
    height: 50px;
    width: auto;
    background: black;
}

.horizontal_wall{
    opacity: 0;
    height: 15px;
    width: auto;
}

.vertical_wall{
    opacity: 0;
    margin: 5px 5px 0px 4px;
    height: 80px;
    width: 25px;
}

.intersection_wall{
    height: 5px;
}

.vertical_hitbox{
    margin: -20px;
    padding: 0px 5px 0px 5px;
    z-index: 1;
}
.horizontal_hitbox{
    width: auto;
    z-index: 1;
    padding: 5px 0px 5px 0px;
}