.profile{
    display: flex;
    flex-direction: row;
}

.userPic{
    border-radius: 100%;
    max-height: 200px;
    max-width: 200px;
    min-height: 200px;
    min-width: 200px;
    margin-bottom: 30px;
}

.skin{
    max-height: 100px;
}

.userProfile{
    display: flex;
    flex-direction: column;
}

.userInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.userStats{
    margin-left: 100px;
    margin-right: 100px;
}


p{
    font-size: 25px;
}

.cadre{
    width: max-content;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.userLevel{
    max-height: 150px;
}

button{
    min-width: fit-content;
}


h2{
    margin: 10px;
}
