
@media screen and (max-width: 600px){

    h2{
        margin:unset;
    }

    .cadre{
        align-self:start;
        margin-top: 30px;
        width: 90%;
        justify-content: unset;
    }

    .theButton{
        padding-top: 15px;
        padding-bottom: 15px;
    }

    button{
        font-size: 22px;
    }
}
