#usernameSignup, #passwordSignup{
    border-radius: 8px;
    background-color: #D9D9D9;
    font-size: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: 15px;
}


.button{
    background-color: #345128;
    color: #fff;
    border-radius: 8px;
    padding: 5px;
    font-family: 'Kumar One', serif;
    font-size: 20px;
    margin: 15px;
    border: 1px solid #345128;
}

@media screen and (max-width: 600px){
    .button{
        font-size: 15px;
        margin-bottom: 0;
    }

    #usernameSignup, #passwordSignup{
        font-size: 15px;
        padding: 5px;
        margin-bottom: 10px;
    }
}
