
.cadre{
    width: 1000px;
    padding: 10px;
}

.settings{
    display: flex;
    flex-direction: column;
}

.aline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h3{
    background-color: #D9D9D9;
    color: #000;
    border-radius: 8px;
    padding: 0 10px;
    min-width: 400px;
}

.language{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #497637;
    border-radius: 15px;
    padding: 0 10px;
    margin-left: 30px;
    max-height: min-content;
}

.line{
    border: 5px solid #000;
    min-height: 100px;
    margin: 0 10px;
}

img{
    max-height: 90px;
}

p{
    margin: 0;
}

button{
    min-width: auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 88px;
    height: 50px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: green;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 44px;
    width: 44px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: red;
}

input:focus + .slider {
    box-shadow: 0 0 1px red;
}

input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
}

@media screen and (max-width: 600px){
    .cadre{
        width: 90%;
        justify-content: start;
        align-self:start;
        margin-top: 30px;
    }

    .language{
        max-height: 40px;
        width: 100%;
    }

    img{
        max-height: 40px;
    }

    .line{
        max-height: 30px;
        min-height: 30px;
        margin:0;
    }

    h3{
        min-width: 110px;
        max-width: fit-content;
    }

    .switch{
        width: 44px;
        height: 25px;
    }

    .slider:before{
        height: 22px;
        width: 20px;
        left: 2px;
        bottom: 2px;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }

    .settings{
        width: 100%;
    }
}
