.cadre{
    width: 1000px;
    justify-content: start;
    position: relative;
}

h2{margin: 10px}

.listFriends {
    width: 1000px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.friend{
    display: flex;
    flex-direction: row;
    background-color: #D9D9D9;
    width: 950px;
    padding: 15px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.leftSide{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rightSide{
    display: flex;
    flex-direction: row;
    align-items: center;
}

p{
    color: black;
    font-size: 25px;
    margin: 0;
}

.profilePic{
    border-radius: 50%;
    max-height: 80px;
    margin: 0 20px;
}

.levelPic{
    max-height: 100px;
    margin-left: 20px;
}

button{
    min-width: 150px;
}

.friendRequest{
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.addFriend{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.notification {
    position: absolute;
    left: 0;
    bottom: 40px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}



@media screen and (max-width: 1000px) {
    .cadre{
        width: 330px;
        justify-content: start;
    }

    h2 {
        margin:0;
    }

    .listFriends {
        width: 330px;
        height: 400px;
    }

    .friend{
        width: 320px;
        padding: 5px;
        margin-left:5px;
        margin-right: 5px;
    }

    p{
        font-size: 10px;
        margin: 0;
        align-self: center;
    }

    .profilePic{
        border-radius: 50%;
        max-height: 50px;
        margin: 8px;
    }

    .levelPic{
        max-height: 50px;
        margin-left: 10px;
        margin-right: 5px;
        align-self: center;
    }

    button{
        font-size: 15px;
    }

}
